img {
  width: 70%;
  margin: auto;
  display: block;
}
@media (min-width: 768px) {
  img {
    width: 30%;
    margin: auto;
    display: block;
  }
}

.container {
  position: relative;
  text-align: center;
  margin-top: 2rem;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a,
a:hover,
a:visited {
  color: inherit;
}
